sqlite3_binary_host_mirror=https://mapbox-node-binary.s3.amazonaws.com/
sqlite3_binary_site=https://mapbox-node-binary.s3.amazonaws.com/
node_sqlite3_binary_host_mirror=https://mapbox-node-binary.s3.amazonaws.com/
node_sqlite3_binary_host=https://mapbox-node-binary.s3.amazonaws.com/
unsafe-perm=true 